In [2]:
import pandas as pd

In [4]:
weather = pd.read_excel('../resource/data_weather.xlsx')
data = pd.read_excel('../resource/dayoftheweek_add.xlsx')

In [5]:
# '일자'와 'time' 열을 기준으로 dayoftheweek_data와 weather_data를 left join
merged_data = pd.merge(data, weather, on=['일자', 'time'], how='left')

# 결과 확인
merged_data.head()

,Unnamed: 0,일자,semester,season,event,time,합계,day of the week,기온(°C),풍속(m/s),강수량(mm),습도(%)
0,0,2022-03-02,1,0,0,8,15,2,-2.9,0.6,0.0,78
1,1,2022-03-02,1,0,0,9,12,2,0.4,1.2,0.0,59
2,2,2022-03-02,1,0,0,10,18,2,3.6,0.3,0.0,47
3,3,2022-03-02,1,0,0,11,39,2,5.2,1.3,0.0,42
4,4,2022-03-02,1,0,0,12,34,2,6.8,1.2,0.0,27

In [6]:
final = merged_data[['일자', 'semester', 'season', 'event', 'day of the week', 'time', '기온(°C)', '풍속(m/s)', '강수량(mm)', '습도(%)', '합계']]
final.head()

,일자,semester,season,event,day of the week,time,기온(°C),풍속(m/s),강수량(mm),습도(%),합계
0,2022-03-02,1,0,0,2,8,-2.9,0.6,0.0,78,15
1,2022-03-02,1,0,0,2,9,0.4,1.2,0.0,59,12
2,2022-03-02,1,0,0,2,10,3.6,0.3,0.0,47,18
3,2022-03-02,1,0,0,2,11,5.2,1.3,0.0,42,39
4,2022-03-02,1,0,0,2,12,6.8,1.2,0.0,27,34

In [8]:
show_nan = final[final.isna( ).any(axis=1)]      # 결측치 확인 코드
show_nan

,일자,semester,season,event,day of the week,time,기온(°C),풍속(m/s),강수량(mm),습도(%),합계
697,2022-06-17,1,1,2,4,9,20.5,NaN,0.0,74,23
727,2022-09-01,2,10,0,3,9,21.2,1.5,NaN,81,31
728,2022-09-01,2,10,0,3,10,23.6,0.4,NaN,70,38
729,2022-09-01,2,10,0,3,11,25.2,1.9,NaN,63,102
730,2022-09-01,2,10,0,3,12,26.9,2.0,NaN,57,86
731,2022-09-01,2,10,0,3,13,27.7,1.7,NaN,52,111
732,2022-09-01,2,10,0,3,14,28.7,1.1,NaN,46,85
733,2022-09-01,2,10,0,3,15,29.6,1.5,NaN,40,16
734,2022-09-01,2,10,0,3,16,29.9,1.0,NaN,41,16
735,2022-09-01,2,10,0,3,17,28.8,1.7,NaN,45,7
873,2022-09-23,2,10,0,4,15,20.0,1.8,NaN,43,12
874,2022-09-23,2,10,0,4,16,19.5,1.9,NaN,39,16
875,2022-09-23,2,10,0,4,17,19.4,2.4,NaN,47,5
1087,2022-10-27,2,10,0,3,9,10.9,NaN,0.0,72,25
1465,2022-12-20,2,11,2,1,17,-1.4,NaN,0.0,55,12

In [9]:
final['강수량(mm)'] = final['강수량(mm)'].fillna(0)    # 2022년 9월 1일 비 안 온 것으로 확인, 0으로 처리

show_nan = final[final.isna( ).any(axis=1)]           # 나머지 nan 값 보기
show_nan

/var/folders/x6/drbz99d50c1f5w77_swgs0g00000gn/T/ipykernel_18399/1630663954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['강수량(mm)'] = final['강수량(mm)'].fillna(0)    # 2022년 9월 1일 비 안 온 것으로 확인, 0으로 처리

,일자,semester,season,event,day of the week,time,기온(°C),풍속(m/s),강수량(mm),습도(%),합계
697,2022-06-17,1,1,2,4,9,20.5,NaN,0.0,74,23
1087,2022-10-27,2,10,0,3,9,10.9,NaN,0.0,72,25
1465,2022-12-20,2,11,2,1,17,-1.4,NaN,0.0,55,12

In [10]:
# '풍속(m/s)' 열에 결측치 대체를 위한 코드
# '일자'를 기준으로 그룹화하여 '풍속(m/s)'의 평균을 계산
rainfall_mean = final.groupby('일자')['풍속(m/s)'].transform('mean')

# '강수량(mm)' 열의 결측치를 해당 날짜의 평균값으로 대체
final['풍속(m/s)'].fillna(rainfall_mean, inplace=True)

/Users/k-yb/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [11]:
nan_check = final.loc[[697, 1087, 1465], :]    # 풍속 nan 였던 부분 잘 들어갔는지 확인
nan_check

,일자,semester,season,event,day of the week,time,기온(°C),풍속(m/s),강수량(mm),습도(%),합계
697,2022-06-17,1,1,2,4,9,20.5,1.000000,0.0,74,23
1087,2022-10-27,2,10,0,3,9,10.9,0.977778,0.0,72,25
1465,2022-12-20,2,11,2,1,17,-1.4,1.288889,0.0,55,12

In [15]:
final.to_excel('../resource/final_for_models.xlsx', index=False)